body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: "droid_serifregular", sans-serif;
}

h1,
h2 {
    font-family: 'lane_-_narrowregular', "Times New Roman";
}

body {
    background-color: rgb(211, 211, 211);
}

#main {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #dbdbdb;
    background-color: #fff;
}

.clear-fix {
    overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
    padding: 0 5%;
}

.work-entry p {
    width: 55%;
}
.project-entry {
    float: left;
    width: 23.33%;
    /*min-width: 190px;*/
    padding-left: 5%;
    padding-right: 0;
}

#education {
    clear: left;
}

#projects, #skillsprogress {
    margin-bottom: 30px;
}

h1 {
    font-size: 40px;
    color: #f3f3f3;
    line-height: 48px;
    display: inline;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    color: #4a4a4a;
    line-height: 29px;
    padding: 10px;
}

h3 {
    font-size: 20px;
    color: #000;
    line-height: 22px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 17px;
}

h2,
h3,
h4,
h5 {
    padding: 10px 4%;
}

.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: left;
}

.location-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: right;
}

.online {
  padding: 30px 5% 0 5%;
}
p {
    font-size: 14px;
    color: #000;
    line-height: 21px;
}

a {
    color: #1199c3;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

.welcome-message {
    font-size: 18px;
    color: #f3f3f3;
    line-height: 28px;
    display: block;
}

#skills-h3 {
    color: #f3f3f3;
    display: none;
    font-weight: normal;
}

.orange {
    background-color: #f5ae23;
}

.lightgray {
    background-color: #f3f3f3;
}

.orange-text {
    color: #f5ae23;
}

.icon-background {
    color: #333;
}

.white-text {
    font-weight: bold;
    color: #fff;
}

.font-icon {
    color: #fff;
}

.gray {
    background-color: #f3f3f3;
    padding-bottom: 10px;
    clear: both;
}

.dark-gray {
    background-color: #4a4a4a;
}

.progress {
  width: 23%;
  float: left;
  margin: 5px 5%;
}

.progress p.progressbar-text {
  font-family: 'lane_-_narrowregular', "Times New Roman";
  font-size: 2.5rem;
}


.progress-name {
  font-family: 'lane_-_narrowregular', "Times New Roman";
  font-size: 1.2rem;
  position: absolute; 
  left: 50%; 
  top: 70%; 
  padding: 0; 
  margin: 0; 
  transform: translate(-50%, -50%); 
  color: rgb(17, 153, 195);
}
/* TODO: Replace with image later */

#header {
    background-color: #484848;
}

.flex-box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px;
}

.center-content {
    padding: 2.5% 5%;
}

ul {
    list-style-type: none;
}

.biopic {
    float: left;
    padding: 10px;
    width: 200px;
    display: none;
}

img {
    padding: 10px 0;
}

span {
    padding: 5px;
    color: #d3d3d3
}

#lets-connect {
    text-align: center;
}


/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
    #lets-connect {
        margin-top: 5%;
    }
}

@media only screen and (max-width:900px) {
    .biopic {
        width: 175px;
    }
}

@media only screen and (max-width: 750px) {
    #lets-connect {
        margin-top: 10%;
    }
    .biopic {
        width: 150px;
    }
    .welcome-message {
        display: none;
    }
    .flex-box {
        justify-content: flex-start;
    }
    .project-entry {
        width: 60%;
        margin: 0 auto;
        float: none;
        padding: 0;
    }
    .progress-name {
        font-size: 1.2rem;
    }

    .progress p.progressbar-text {
        font-size: 1.5rem;
    }

    .progress {
        float: none;
        width: 60%;
        margin: 40px auto;
        padding: 0;
    }
    .work-entry p {
        width: 100%;
    }
}

#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}

#mapDiv {
    overflow: scroll;
    height: 400px;
    width: 100%;
    padding-bottom: 8%;
    -webkit-filter: grayscale();
    filter: grayscale();
}


@media only screen and (min-width: 750px) {
    #skills-h3,
    .biopic {
        display: block;
    }
}
